#Amor{background-color: rgb(255, 0, 0);}
#Tristeza {background-color: blue;}
#Felicidad {background-color: rgb(255, 251, 0);}
#Desagrado {background-color: blueviolet;}
#Pereza {background-color: brown;}
#Vergüenza {background-color: aquamarine;}
#Orgullo {background-color: rgb(0, 255, 21);}
#Furia {background-color: rgb(126, 7, 37);}
#Ansiedad {background-color: rgb(88, 158, 219);}